.env
venv/
blind_nav/13307997_2560_1440_30fps.mp4
diplom-cpp/piper/piper
build/
*.so
*.so.*

*.tar.gz
*.zip
*.onnx
*.onnx.json
*.rknn
*.ort

map/spb.pbf
map/spb.osrm*
map/addresses.json

piper/piper/
osrm-backend/
vosk/
EOF